:root {
  --white: #FFFFFF;
  --green: #20E4AB;
  --header-text: 2em;
}

/**************************** Header style ***************/

.header-container{
  background-color: var(--green);
  width: auto;
  height : 13vh;
  box-shadow:0 5px 10px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name{
  color: var(--white);
  font-size: var(--header-text);
  font-weight: 500;
  text-align: left;
  padding: 5px;
}

.header-ttt-info{
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

.ttt-name{
  font-size: var(--header-text);
  color: var(--white);
  font-weight: 700;
}

.logo-ttt{
  height: 8vh;
}


/************************ button style ********************/

.btn-container{
  background-color: var(--green);
  text-align: center;
  border-radius: 10px;
  padding: 30px 50px;
  box-shadow:0 5px 10px grey;
  border : none;
}

.btn-text{
  color: var(--white);
  font-size: 2em;
  font-weight: 700;
}